/* common shared styles  */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  padding: 12px 20px;
  border: none;
  color: white;
}
.section-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.highlight {
  color: #e55473;
}

/* header section   */
.background-color {
  background: rgba(229, 84, 115, 0.1);
  margin-bottom: 100px;
}
.header-btn {
  margin-bottom: 70px;
}
.banner-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.banner-text {
  width: 40%;
}
.banner-heading {
  color: #272727;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 10px;
}
.banner-img {
  width: 500px;
  height: 500px;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
}
/* featured section  */

.featured-flower-section {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 180px;
}
.featured-flower-container {
  height: 40vh;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 50px;
}
.featured {
  height: 400px;
}
.featured-flower-pink {
  width: 300px;
  height: 350px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.featured-flower-blue {
  width: 300px;
  height: 350px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured-flower-green {
  width: 300px;
  height: 350px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.flower {
  width: 250px;
  height: 300px;
}
.feature-link > a {
  color: #272727;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
}
/* service section  */
.service-container {
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 0 auto;
}

.service-icon {
  width: 70px;
}
/* hot deal section  */
.hot-deal-section {
  margin-top: 100px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-bottom: 100px;
}
.hot-deal-container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}
.hot-deal-text {
  width: 35%;
}
.hot-deal-img {
  width: 150px;
}
/* .instagram section  */
.instagram-section {
  margin: 100px 100px;
  text-align: center;
  padding: 20px;
}
.instagram-container {
  display: flex;
  gap: 25px;
  text-align: center;
}
.instagram-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 30px 0;
}
.instagram {
  width: 25%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.box-1 {
  background-image: url(./assets/Flower\ 01.png);
}
.box-2 {
  background-image: url(./assets/Rectangle\ 4.png);
}
.box-3 {
  background-image: url(./assets/Rectangle\ 5.png);
}
.box-4 {
  background-image: url(./assets/Rectangle\ 6.png);
}
/* latest deal section  */
.latest-deal-section {
  margin: 100px 100px;
  background-image: url(./assets/Rectangle\ 9.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  border-radius: 8px;
}
.latest-deal-container {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.latest-deal-text > input {
  padding: 12px 20px;
  width: 500px;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
}
/* footer section  */
.footer {
  background: #111010;
  text-align: center;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-heading {
  color: white;
  margin-bottom: 10px;
}
.footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
}
